[Unit]
Description=Nextcloud cron.php job

[Service]
User={{ nextcloud_linux_user }}
ExecCondition=php -f {{ nextcloud_opt_dst }}/occ status -e
ExecStart=/usr/bin/php -f {{ nextcloud_opt_dst }}/cron.php
KillMode=process