[Unit]
Description=Nextcloud cron.php job

[Service]
User={{ nextcloud_linux_user }}
ExecCondition=php -f {{ nextcloud_app_dir }}/occ status -e
ExecStart=/usr/bin/php -f {{ nextcloud_app_dir }}/cron.php
KillMode=process